
@{
    ViewData["Title"] = "CheckOut Ok";
}

<div class="container w-50 mx-auto">
    <h1 class="mt-5">Checkout completed</h1>
    <p class="mt-5">Have a nice day!</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg mt-5">Home</a>
</div>

