@model string

@{
    ViewData["Title"] = "Email Not Found";
}
<div class="container w-50 mx-auto my-5">
    <p class="alert-danger p-3 border-danger rounded font-weight-bold">Email: @Model Not Found</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Home</a>
</div>

