@{
    ViewData["Title"] = "CheckOut";
}

<div class="w-50 mx-auto">
    <h1 class="m-5">CheckOut</h1>

    <form method="post" asp-controller="CheckOut" asp-action="Visitor">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" id="Email" name="Email" class="form-control w-50" />
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-lg btn-primary">Next</button>
        </div>
    </form>
</div>