@{
    ViewData["Title"] = "Check In Completed";
}

<div class="container w-50 mx-auto">
    <h1 class="text-center m-5">Check In Completed</h1>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg mx-auto">Home</a>
</div>

