
@{
    ViewData["Title"] = "Check In Completed";
}

<div>
    <h1>Check In Completed</h1>
    <a asp-controller="CheckIn" asp-action="Index">
        <button class="btn btn-primary btn-lg">Home</button>
    </a>

</div>

