
@{
    ViewData["Title"] = "CheckIn";
}
<div class="w-75">
    <h1 class="m-5">CheckIn</h1>

    <form method="post" asp-controller="CheckIn" asp-action="Visitor" class="m-5">
        <div class="form-group">
            <label for="Email" >Email</label>
            <input type="email" id="Email" name="Email" class="form-control" />
        </div>

        <div class="form-group m-4">
            <button type="submit" class="btn btn-lg btn-primary">Next</button>
        </div>
    </form>
</div>
