@{
    ViewData["Title"] = "Visitor registration";
}

<div class="text-center">
    <h1 class="display-4 m-5">Welcome</h1>

    <div class="m-5">
        <a asp-controller="CheckIn" asp-action="Index"><button class="btn btn-lg btn-primary mr-3">CheckIn</button></a>
        <button class="btn btn-lg btn-secondary">CheckOut</button>
    </div>
</div>
